body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background: #111;
  color: #f5c400;
}

h1 {
  margin-top: 20px;
  font-size: 2rem;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.hero {
  width: 95%;
  max-width: 600px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.6);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #000;
  color: #00ffcc;
  padding: 10px;
  font-size: 1rem;
}
